{% extends 'user-view/base.html' %}
{% load static %}
{% load bootstrap %}
{% block link %}

{% endblock %}
{% block title %}
Login Page
{% endblock %}
{% block css %}
{% endblock %}

{% block body %}

<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form method="post">
                  {% csrf_token %}
                  <div class="text-center align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <img src="{% static 'img/logo.png' %}" style="width:25%; height:25%;border-radius: 1rem;" />
                    <h2 class="fw-bold mb-0">Shree Taralabalu Central School</h2>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    {{form.username | bootstrap}}
                  </div>

                  <div class="form-outline mb-4">
                    {{form.password | bootstrap}}
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                  </div>
                </form>

              </div>
            </div>
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{% static 'img/swamiji/swamiji.jpg' %}" alt="login form" class="img-fluid"
                style="border-radius: 1rem;" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}