{% extends 'admin-view/base.html' %}
{% load static %}
{% load bootstrap %}
{% block link %}
{% endblock %}
{% block title %}
Dashboard
{% endblock %}
{% block css %}
{% endblock %}

{% block body %}


<!-- Layout wrapper -->

<div class="layout-container">

    <!-- Layout container -->
    <div class="bere-page">

        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row">
                    <div class="col-1">
                        <a href="{{request.META.HTTP_REFERER|escape}}"
                            class='h3 bx bx-arrow-back text-decoration-none text-dark'></a>
                    </div>
                    <div class="col-10 text-center">
                        <h4 class="fw-bold fs-3">Update Suvject Name
                        </h4>
                    </div>
                </div>
                {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{form.non_field_errors}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col border border-dark rounded">
                            <form method="post" class="m-3">
                                {% csrf_token %}
                                <div class="form-floating">
                                    {{form.subject_name}}
                                    <label for="floatingInput">Subject Name</label>
                                    <div class="text-end text-danger">{{form.subject_name.as_p.errors}}</div>
                                </div>

                                <br>

                                <div id="floatingInputHelp" class="form-text">
                                    We'll never share your details with anyone else.
                                </div>
                                <div class="row mx-5 justify-content-end">
                                    <div class="col-3 text-end">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- / Content -->


     

            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
</div>

<!-- / Layout wrapper -->

{% endblock %}