{% extends "user-view/base.html" %}
{% load static %}

{% block body %}

<div class="container">
  <section class="ftco-section">

    <div class="row d-flex">
      <div class="col-md-6 d-flex ftco-animate">
        <div class="img img-about align-self-stretch"
          style="background-image: url(static/img/school/School.png); width: 100%;"></div>
      </div>
      <div class="col-md-6 pl-md-5 ftco-animate">
        <h2 class="mb-4">Welcome to Taralabalu Central School established since 2012</h2>
        <p>SRI TARALABALU CENTRAL SCHOOL - AJJIHALLI was established in 2012. We are located in outskirts of Channagri
          block of DAVANAGERE district of Karnataka. Our school consists of Grades from 1 to 10. Our school is a
          Co-educational. English is the medium
          of instructions in our school. Our school is approachable by all weather road. In our school academic
          session starts in mid of May.</p>
        <p>Our school has Private building. It has got 25 classrooms for instructional purposes. All the classrooms are
          in good condition. We have 3 other rooms for non-teaching activities and also has a separate room for Head
          master.
          The source of Drinking Water in our school is Well and it is functional. Our school has 5 boys toilet and 5
          girls toilet and it is functional. Our school has a playground. Our school has a
          library and has 550 books in it. We haves 45 computers for teaching and learning purposes and all are
          functional. We don't provide mid-day meal.</p>
      </div>
    </div>
  </section>
</div>


<section class="ftco-section-3 img" style="background-image: url(static/img/bg_3.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex justify-content-center">
      <div class="col-md-9 about-video text-center">
        <h2 class="ftco-animate">Taralabalu Central School is a Leading School Around Channagiri</h2>
        <div class="video d-flex justify-content-center">
          <a href="https://youtu.be/f5bpXhtA2v4"
            class="button popup-vimeo d-flex justify-content-center align-items-center"><span
              class="ion-ios-play"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-counter bg-light" id="section-counter">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="3500">0</strong>
                <span>Satisfied Students</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="2500">0</strong>
                <span>Satisfied Parents</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="65">0</strong>
                <span>Expert Teachers</span>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="200">0</strong>
                <span>Schools</span>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Subcribe to our Newsletter</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts. Separated they live in</p>
          <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}