{% extends 'about/mandatory_disclosure.html' %}

{% block content %}
<div class="shadow mx-5 text-center border bg-light rounded border-dark mb-2 mt-3">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6  border-end border-dark">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="pt-3 p-2 text-sm-center text-md-end text-lg-end text-xl-end">Name of the school</div>
                </div>
                <div class="pt-3 p-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 ">:</div>
                <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    <div class="pt-3 p-2 text-sm-center text-md-start text-lg-start text-xl-start">SRI TARALABALU CEN SCH CHANNAGIRI DAVANGERE KK</div>
                </div>
            </div>
            <hr class="my-0">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="p-2 text-sm-center text-md-end text-lg-end text-xl-end">Affiliation No</div>
                </div>
                <div class="p-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 ">:</div>
                <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    <div class="p-2 text-sm-center text-md-start text-lg-start text-xl-start">830421</div>
                </div>
            </div>
            <hr class="my-0">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="p-2 text-sm-center text-md-end text-lg-end text-xl-end">School Code</div>
                </div>
                <div class="p-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 ">:</div>
                <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    <div class="p-2 text-sm-center text-md-start text-lg-start text-xl-start">45483</div>
                </div>
            </div>
            <hr class="my-0">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="p-2 text-sm-center text-md-end text-lg-end text-xl-end">Complete Address with
                        PINCODE</div>
                </div>
                <div class="p-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 ">:</div>
                <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    <div class="p-2 text-sm-center text-md-start text-lg-start text-xl-start">SRI TARALABALU CENTRAL
                        SCOOL, ANUBHAVAMANTAPA <br>
                        AJJIHALLI POST, BHADRAVATHI ROAD<br>
                        CHANNAGIRI TEHSIL, DAVANGERE - 577213</div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <hr class="my-0 ">
            <div class="row pt-4">
                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <div class="pt-3 text-sm-center text-md-end text-lg-end text-xl-end">Principal Name</div>
                </div>
                <div class="pt-3 p-2 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                    :
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="pt-3 p-2 text-sm-center text-md-start text-lg-start text-xl-start">Sathish HS</div>
                </div>
            </div>
            <hr class="my-0">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <div class="p-2 text-sm-center text-md-end text-lg-end text-xl-end">Principal Qualification
                    </div>
                </div>
                <div class="p-2 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                    :
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="p-2 text-sm-center text-md-start text-lg-start text-xl-start">MSc, BEd</div>
                </div>
            </div>
            <hr class="my-0">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <div class="p-2 text-sm-center text-md-end text-lg-end text-xl-end">School Email ID</div>
                </div>
                <div class="p-2 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                    :
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="p-2 text-sm-center text-md-start text-lg-start text-xl-start" >taralabaluschool.cng @gmail.com</div>
                </div>
                
            </div>
            <hr class="my-0">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <div class="p-2 text-sm-center text-md-end text-lg-end text-xl-end">Contact Details</div>
                </div>
                <div class="p-2 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                    :
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="p-2 text-sm-center text-md-start text-lg-start text-xl-start">+91 9380590562</div>
                </div>
            </div>
            
        </div>

    </div>
</div>

{% endblock %}