{% extends "user-view/base.html" %}
{% load static %}

{% block title %}
Mandatory Public Disclosure
{% endblock %}

{% block body %}

<div class="container border border-dark rounded p-3 mb-2">
    <div class="table-responsive">
        <table class="table">
            <thead class="bg-dark h5 text-light text-md-center">
                <tr>
                    <th colspan="3" scope="col">Mandatory Public Disclosures</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" class="text-end">Name of the school</td>
                    <td scope="row">:</td>
                    <th scope="row">SRI TARALABALU CENTRAL SCHOOL CHANNAGIRI DAVANGERE KK</th>
                </tr>

                <tr>
                    <td scope="row" class="text-end">Affiliation No</td>
                    <td scope="row">:</td>
                    <th scope="row">830421</th>
                </tr>

                <tr>
                    <td scope="row" class="text-end">School Code</td>
                    <td scope="row">:</td>
                    <th scope="row">45483</th>
                </tr>

                <tr>
                    <td scope="row" class="text-end">Complete Address with pincode</td>
                    <td scope="row">:</td>
                    <th scope="row">SRI TARALABALU CENTRAL SCOOL, ANUBHAVAMANTAPA AJJIHALLI POST, BHADRAVATHI ROAD
                        CHANNAGIRI TEHSIL, DAVANGERE - 577213</th>
                </tr>

                <tr>
                    <td scope="row" class="text-end">Principal Name</td>
                    <td scope="row">:</td>
                    <th scope="row">Sathish HS</th>
                </tr>

                <tr>
                    <td scope="row" class="text-end">Principal Qualification</td>
                    <td scope="row">:</td>
                    <th scope="row">MSc, BEd</th>
                </tr>

                <tr>
                    <td scope="row" class="text-end">School Email ID</td>
                    <td scope="row">:</td>
                    <th scope="row">taralabaluschool.cng@gmail.com</th>
                </tr>

                <tr>
                    <td scope="row" class="text-end">Contact Details</td>
                    <td scope="row">:</td>
                    <th scope="row">08189-200080</th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="list-group text-center mb-3">
        <div class="row text-center">

            <div class="col-md-4 mb-2">
                <a style="background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );"
                    href="{% url 'documents_info' %}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-center">
                        <h3 class="mb-1">Section A</h3>
                    </div>
                    <p class="mb-1 fs-4">Documents Information</p>
                </a>
            </div>

            <div class="col-md-4 mb-2">
                <a style="background-image: linear-gradient( 108.9deg,  rgba(19,248,87,1) -2.3%, rgba(19,248,92,1) -2.2%, rgba(235,202,16,1) 89.8% );"
                    href="{% url 'results_&_academic' %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-center">
                        <h3 class="mb-1">Section B</h3>
                    </div>
                    <p class="mb-1 fs-4">Results and Academic</p>
                </a>
            </div>

            <div class="col-md-4">
                <a style="background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(63,103,217,1) 0%, rgba(67,209,222,1) 100.3% );"
                    href="{% url 'appendix_IX' %}" target="_blank" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-center">
                        <h3 class="mb-1">Section C</h3>
                    </div>
                    <p class="mb-1 fs-4">Appendix - IX</p>
                </a>
            </div>

        </div>
    </div>
</div>




{% endblock %}