{% extends 'admin-view/base.html' %}
{% load static %}
{% load bootstrap %}
{% block link %}
{% endblock %}
{% block title %}
Student-sign-up-page
{% endblock %}
{% block css %}
{% endblock %}

{% block body %}


<!-- Layout wrapper -->

<div class="layout-container">

    <!-- Layout container -->
    <div class="bere-page">

        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row">
                    <div class="col-1">
                        <a href="{{request.META.HTTP_REFERER|escape}}"
                            class='h3 bx bx-arrow-back text-decoration-none text-dark'></a>
                    </div>
                    <div class="col-10 text-center">
                        <h4 class="fw-bold fs-3">Register New Staff
                        </h4>
                    </div>
                </div>
                {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{form.non_field_errors}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col border border-dark rounded">

                            <form method="POST" class="m-3">
                                {% csrf_token %}
                                <div class="form-floating">
                                    {{form.username}}
                                    <label for="floatingInput">Username</label>
                                    <div class="text-end text-danger">{{form.username.as_p.errors}}</div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            {{form.password1}}
                                            <label for="floatingInput">Password</label>
                                            <div class="text-danger">{{form.password1.errors}}</div>
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            {{form.password2}}
                                            <label for="floatingInput">Repeat password</label>
                                            <div class="text-end text-danger">{{form.password2.errors}}</div>
                                        </div>
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">

                                            <input type="text" class="form-control" name="full_name" id="full_name"
                                                placeholder="Enter Student Name" required />
                                            <label for="floatingInput">Full Name</label>
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" name="dateOfBirth" required>
                                            <label for="floputatingIn">Date of Birth</label>

                                        </div>
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" name="gender"
                                                aria-label="Default select example" required>
                                                <option value="">Select Gender</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                                <option value="3">Other</option>
                                            </select>
                                            <label for="floatingInput">Gender</label>
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" name="blood"
                                                aria-label="Default select example">
                                                <option value="">Select Blood Group</option>
                                                <option value="O+">O+</option>
                                                <option value="O-">O-</option>
                                                <option value="A+">A+</option>
                                                <option value="A-">A-</option>
                                                <option value="B+">B+</option>
                                                <option value="B-">B-</option>
                                                <option value="AB+">AB+</option>
                                                <option value="AB-">AB-</option>
                                            </select>
                                            <label for="floatingInput">Blood Group</label>
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" name="emaiId"
                                                placeholder="xyz@gmail.com">
                                            <label for="floatingInput">Email Id</label>

                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="phnNumber"
                                                placeholder="10 digit number" />
                                            <label for="floatingInput">Phone Number</label>

                                        </div>
                                    </div>


                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            <textarea class="form-control" name="presentAddress"
                                                placeholder="Enter detailed address here" rows="3"></textarea>
                                            <label for="floatingInput">Present Address</label>

                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            <textarea class="form-control" name="permanentAddress"
                                                placeholder="Enter detailed address here" rows="3"></textarea>
                                            <label for="floatingInput">Permanent Address</label>

                                        </div>
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="aadhaar"
                                                placeholder="12 digit number">
                                            <label for="floatingInput">Aadhaar Number</label>
                                        </div>
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" name="joinDate" />
                                            <label for="floatingInput">Joining Date</label>
                                        </div>
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" name="designation"
                                                aria-label="Default select example">
                                                <option value="">Select Designation</option>
                                                <option value="1">Accountant</option>
                                                <option value="2">General Staff</option>
                                            </select>
                                            <label for="floatingInput">Designation</label>
                                        </div>
                                    </div>
                                </div>

                                <div id="floatingInputHelp" class="form-text">
                                    We'll never share your details with anyone else.
                                </div>

                                <div class="row mt-3 justify-content-center visually-hidden">
                                    <div class="col-5 h5 text-end">
                                        <b>Role<span style="color: red;">* </span>:</b>
                                    </div>
                                    <div class="col">
                                        {{form.role}}
                                    </div>
                                    <div class="text-end text-danger">{{form.role.errors}}</div>
                                </div>


                                <div class="row mx-5 justify-content-end">
                                    <div class="col-3 text-end">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- / Content -->




            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
</div>

<!-- / Layout wrapper -->

{% endblock %}