{% extends 'admin-view/base.html' %}
{% load static %}
{% block link %}
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<link href="{% static 'css/admin-side/css.css' %}" rel='stylesheet'>

{% endblock %}
{% block title %}
Profile Page
{% endblock %}
{% block css %}
{% endblock %}

{% block body %}


<!-- Layout wrapper -->

    <div class="layout-container">

        <!-- Layout container -->
        <div class="bere-page">

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4">
                                <h5 class="card-header">Profile Details</h5>
                                <!-- Account -->
                                <div class="card-body">
                                    <div class="d-flex align-items-center align-items-sm-center gap-4">
                                        {% if staffObj.profile_pic %}
                                        <img src="{{ staffObj.profile_pic.url }}" alt="user-avatar"
                                            class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                                            {% else %}
                                            <img src="{% static 'admin-side/img/avatars/avatar.png' %}" alt="user-avatar"
                                            class="d-block rounded" height="100" width="150" id="uploadedAvatar" />
                                            {% endif %}
                                       
                                    </div>
                                </div>
                                <hr class="my-0" />
                                <div class="card-body">
                                    <form id="formAccountSettings" method="POST">
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="fullName" class="form-label">Full Name</label>
                                                <input class="form-control" type="text" id="fullName" name="fullName"
                                                    value="{{staffObj.full_name}}" autofocus disabled/>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="language" class="form-label">Gender :
                                                    
                                                </label>
                                                <select id="language" class="select2 form-select" disabled>
                                                    <option value=""><strong>{% if staffObj.gender == 1 %}
                                                        Male
                                                        {% elif staffObj.gender == 2 %}
                                                        Female
                                                        {% else %}
                                                        Other
                                                        {% endif %}</strong></option>
                                                </select>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="phoneNumber">Phone Number</label>
                                                <div class="input-group input-group-merge">
                                                    <span class="input-group-text">In (+91)</span>
                                                    <input type="text" id="phoneNumber" name="phoneNumber"
                                                        class="form-control" value="{{ staffObj.phone_number }}"
                                                        maxlength="10" disabled/>
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="email" class="form-label">E-mail</label>
                                                <input class="form-control" type="text" id="email" name="email"
                                                    value="{{ staffObj.email_id }}"
                                                    placeholder="john.doe@example.com" disabled/>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="presentAddress" class="form-label">Present Address</label>
                                                <textarea
                                                    class="form-control" disabled>{{staffObj.present_address}}</textarea>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="permanentAddress" class="form-label">Permanent Address</label>
                                                <textarea
                                                    class="form-control" disabled>{{staffObj.permanent_address}}</textarea>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="aadhaarNumber" class="form-label">Aadhaar Number</label>
                                                <input class="form-control" type="text" id="aadhaarNumber" name="aadhaarNumber"
                                                    value="{{staffObj.aadhaar_number}}" autofocus disabled/>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="language" class="form-label">Blood Group :
                                                    
                                                </label>
                                                <select id="language" class="select2 form-select" disabled>
                                                    <option value=""><strong>{{ staffObj.blood_group }}</strong></option>
                                                    
                                                </select>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="dob" class="form-label">Date of Birth</label>
                                                <input class="form-control" type="date" id="dob" name="dob"
                                                    value="{{staffObj.date_of_birth|date:'Y-m-d' }}" disabled/>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="doj" class="form-label">Joining Date</label>
                                                <input class="form-control" type="date" id="doj" name="doj"
                                                    value="{{staffObj.joining_date|date:'Y-m-d'}}" disabled/>
                                            </div>

                                        </div>
                                       
                                    </form>
                                </div>
                                <!-- /Account -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->


                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

<!-- / Layout wrapper -->

{% endblock %}